extends layout

block content
  .main.main-raised 
    .section.section-basic
      .container 
        .jumbotron.jumbotron-no-bg
          h1.display-4.text-primary Cookie Policy
          hr.my-4
          p Mit dieser Cookie Richtlinie informiert der Website-Betreiber den Nutzer der Website über den Einsatz von Cookies oder ähnlichen Speichertechnologien (nachfolgend „Cookies“) auf dieser Website.
          h1.display-4.text-primary Was sind Cookies?
          hr.my-4
          p Cookies sind kleine Textdateien, die vom Webbrowser auf dem Endgerät des Nutzers zur Speicherung von bestimmten Informationen abgelegt werden. Beim nächsten Aufruf unserer Website mit demselben Endgerät werden die in Cookies gespeicherten Informationen an unsere Website („First Party Cookie“) oder eine andere Website, zu der das Cookie gehört („Third Party Cookie“), zurückgesandt.
          p Durch die im Cookie gespeicherten und zurückgesandten Informationen erkennt die jeweilige Website, dass der Nutzer diese mit dem Webbrowser seines Endgeräts bereits aufgerufen und besucht hat. Diese Informationen nutzen wir, um dem Nutzer die Website gemäß seinen Präferenzen optimal anzeigen zu können.
          p Es wird hierbei aber nur das Cookie selbst auf dem Endgerät identifiziert. Eine darüber hinausgehende Speicherung von personenbezogenen Daten erfolgt nur, wenn der Nutzer uns seine ausdrückliche Zustimmung dafür gibt oder wenn diese Speicherung unbedingt erforderlich ist, um den angebotenen und aufgerufenen Dienst nutzen zu können.
          h1.display-4.text-primary Zustimmung zur Verwendung von Cookies
          hr.my-4
          p Cookies, die nicht unbedingt erforderlich sind, um die Dienste auf dieser Website zur Verfügung zu stellen, werden erst nach der Einwilligung verwendet. Indem der Nutzer diese Website nach dem Einblenden des Cookie-Banners aktiv weiter nutzt, willigt er in die Verwendung von Cookies ein.
          p Seine Cookie Einstellungen kann der Nutzer jederzeit individuell anpassen, indem er zum Beispiel einzelne Cookie-Kategorien aktiviert oder deaktiviert.
          p Wie der Nutzer Cookies generell (inklusive der unbedingt erforderlichen Cookies) in seinem Browser deaktivieren oder löschen kann, wird unter dem Punkt "Deaktivierung oder Löschung sämtlicher Cookies" beschrieben.
          h1.display-4.text-primary Kategorien der verwendeten Cookies
          hr.my-4
          p Je nach Verwendungszweck und Funktion unterteilen wir die von der Website verwendeten Cookies in die folgenden Kategorien:
          ul
            li Unbedingt erforderliche Cookies;
            li Funktionale-Cookies;
            li Performance-Cookies;
            li Marketing- / Third Party- / Zustimmungspflichtige-Cookies

          h3 Unbedingt erforderliche Cookies
          p Unbedingt erforderliche Cookies sorgen dafür, dass diese Website, beziehungsweise der Dienst, ordnungsgemäß funktioniert. Das heißt, ohne diese Cookies ist diese Website, beziehungsweise der Dienst, nicht wie vorgesehen nutzbar. Diese Art von Cookies wird ausschließlich von dem Betreiber der Website verwendet (First Party Cookies) und sämtliche Informationen, die in den Cookies gespeichert sind, werden nur an diese Website gesendet.
          p Auf unserer Webseite kommen folgende unbedingt erforderlichen Cookies zum Einsatz:
          .row 
            .col-sm-8
              table.table
                thead
                  tr
                    th Name
                    th Zweck
                    th.text-right Laufzeit
                  tr
                    td ckies_functional
                    td Opt-out für Functional Cookies
                    td.text-right 1 Jahr
                  tr
                    td ckies_performance
                    td Opt-out für Performance Cookies
                    td.text-right 1 Jahr
                  tr
                    td ckies_marketing
                    td Opt-out für Marketing-/Third Party-/Zustimmungspflichtige-Cookies
                    td.text-right 1 Jahr
          p Die Nutzung von unbedingt erforderlichen Cookies auf dieser Website ist ohne die Einwilligung des Nutzers möglich. Aus diesem Grund können unbedingt erforderliche Cookies auch nicht einzeln deaktiviert bzw. aktiviert werden. Diese Funktion steht nur bei einwilligungspflichtigen Cookies, also den Funktionalen Cookies, den Performance-Cookies und den Marketing- / Third Party- / Zustimmungspflichtige-Cookies, zur Verfügung. Der Nutzer hat allerdings jederzeit die Möglichkeit, Cookies generell in seinem Browser zu deaktivieren (siehe Punkt "Deaktivierung oder Löschung sämtlicher Cookies").
          p Die Rechtsgrundlage für die Nutzung der First Party Cookies ist ein berechtigtes Interesse (d. h. Interesse an der Analyse, Optimierung und dem wirtschaftlichen Betrieb dieser Website und Leistungen) im Sinne des Art. 6 (1) (f) DSGVO).
          h3 Funktionale Cookies
          p Funktionale Cookies ermöglichen dieser Webseite, getätigte Angaben, wie z. B. den Benutzernamen oder die Sprachauswahl, zu speichern und dem Nutzer darauf basierend verbesserte und personalisierte Funktionen anzubieten. Diese Cookies sammeln und speichern ausschließlich anonymisierte Informationen.
          p Auf unserer Webseite kommen folgende Funktionale Cookies zum Einsatz:
          .row 
            .col-sm-8
              table.table
                thead
                  tr
                    th Name
                    th Zweck
                    th.text-right Laufzeit
                  tr
                    td cookielaw
                    td Wurde das Cookie Banner angeklickt
                    td.text-right 1 Jahr
                  tr
                    td shd
                    td Wird gesetzt wenn der Nutzer sich auf seiner Jimdo-Seite anmeldet
                    td.text-right 1 Jahr
                  tr
                    td has_close_teaser
                    td Zeigt an, ob der User einen Teaser geschlossen hat, damit dieser nicht erneut angezeigt wird
                    td.text-right Session
          p Der Nutzer kann der Verwendung von Funktionalen Cookies jederzeit widersprechen, indem er seine Cookie Einstellungen entsprechend anpasst.
          p Die Rechtsgrundlage für die Nutzung der Funktionalen-Cookies ist ein berechtigtes Interesse (d. h. Interesse an der Analyse, Optimierung und dem wirtschaftlichen Betrieb dieser Website und Leistungen) im Sinne des Art. 6 (1) (f) DSGVO).
          h3 Performance Cookies
          p Performance Cookies sammeln Informationen darüber, wie unsere Webseiten genutzt werden, um darauf basierend deren Attraktivität, Inhalt und Funktionalität zu verbessern. Diese Cookies helfen uns beispielsweise festzustellen, ob und welche Unterseiten unserer Webseite besucht werden und für welche Inhalte sich die Nutzer besonders interessieren. Wir erfassen die Anzahl der Zugriffe auf eine Seite, die Anzahl der aufgerufenen Unterseiten, die auf unserer Webseite verbrachte Zeit, die Reihenfolge der besuchten Seiten, welche Suchbegriffe dich zu uns geführt haben, das Land, die Region und gegebenenfalls die Stadt aus der der Zugriff erfolgt, sowie den Anteil von mobilen Endgeräten, die auf unsere Webseiten zugreifen. Die aus technischen Gründen übermittelte IP-Adresse eines Rechners wird automatisch anonymisiert und ermöglicht uns keinen Rückschluss auf den einzelnen Nutzer.
          p Der Nutzer der Website hat auch das Recht, aus Gründen, die sich aus seiner besonderen Situation ergeben, bei der Verarbeitung ihn betreffender personenbezogener Daten, die zu statistischen Zwecken gem. Art. 89 Abs. 1 DSGVO erfolgt, zu widersprechen. Zur Wahrnehmung dieser und anderer Betroffenenrechte, kann sich ein Betroffener jederzeit an die im Impressum beziehungsweise in der Datenschutzerklärung angegebene Kontaktadresse wenden.
          p Auf unserer Webseite kommen folgende Performance Cookies zum Einsatz:
          .row 
            .col-sm-8
              table.table
                thead
                  tr
                    th Name
                    th Zweck
                    th.text-right Laufzeit
          p Der Nutzer der Website kann der Verwendung von Performance-Cookies jederzeit widersprechen, indem er seine Cookie Einstellungen entsprechend anpasst.
          p Die Rechtsgrundlage für die Nutzung der Performance-Cookies ist ein berechtigtes Interesse (d. h. Interesse an der Analyse, Optimierung und dem wirtschaftlichen Betrieb unserer Webseite und Leistungen) im Sinne des Art. 6 (1) (f) DSGVO).
          h1.display-4.text-primary Deaktivierung oder Löschung sämtlicher Cookies
          hr.my-4
          p Der Nutzer kann seinen Webbrowser so einstellen, dass das Speichern von Cookies auf seinem Endgerät generell verhindert wird beziehungsweise er jedes Mal gefragt wird, ob er mit dem Setzen von Cookies einverstanden ist. Einmal gesetzte Cookies kann der Nutzer jederzeit wieder löschen. Wie das Ganze funktioniert, wird in Hilfe-Funktion des jeweiligen Webbrowsers beschrieben.
          p Eine generelle Deaktivierung von Cookies kann gegebenenfalls zu Funktionseinschränkungen dieser Website führen.






