extends layout

block content
  .main.main-raised
    #events.cd-section.section.section-gray
      .cards
        .container
          .title
            h2.text-warning Events
            h3.text-danger 2018
          hr
          .row
            .col-lg-4.col-md-6
              .card.card-blog
                .card-header.card-header-image
                  a(href="/comming-soon")
                    img.img(src="/images/card-blog3.jpg")
                    .card-title
                      | Sommer Ausflug
                  .colored-shadow(style='background-image: url("/images/card-blog3.jpg"); opacity: 1;')
                .card-body
                  h6.card-category.text-info Notarität
                  p.card-description
                    | Wie am Freitag mitgeteilt, ist Notar Spall erst ab 17.7. wieder im Büro. Sein Vertreter ist sehr überlastet und hat mir avisiert, dass er sich ab morgen drum kümmern wird. Wir machen einen Termin zwischen 20.07.18 und 30.08.18 ...
              .card.bg-info
                .card-body
                  h5.card-category.card-category-social
                    i.fab.fa-twitter
                    |  Twitter
                  h4.card-title
                    a(href="https://t.co/my7YyCGtVa") "2:0 gegen England: Belgiens bislang größter WM-Erfolg"
                .card-footer
                  .author
                    a(href="#")
                      img.avatar.img-raised(src="/images/hami.jpg" alt="...")
                      span Ha Mi
                  .stats.ml-auto
                    i.material-icons favorite
                    |  2.4K ·
                    i.material-icons share
                    |  45
            .col-lg-4.col-md-6
              .card
                .card-body
                  h6.card-category.text-danger
                    i.material-icons trending_up
                    |  WM 2018
                  h4.card-title
                    a(href="https://www.bild.de/sport/fussball/fifa-wm-2018/wm-2018-fifa-kassierte-schon-300-000-euro-fuer-falsche-socken-56317228.bild.html") Fifa kassierte schon 300.000 Euro für falsche Socken
                .card-footer
                  .author
                    a(href="#")
                      img.avatar.img-raised(src="/images/hami.jpg" alt="...")
                      span Ha Mi
                  .stats.ml-auto
                    i.material-icons favorite
                    |  342 ·
                    i.material-icons chat_bubble
                    |  45
              .card.card-blog
                .card-header.card-header-image
                  a(href="#")
                    img.img(src="/images/kg_loewenzahn.jpg")
                  .colored-shadow(style='background-image: url("/images/kg_loewenzahn.jpg"); opacity: 1;')
                .card-body
                  h6.card-category.text-success Grillfest
                  h4.card-title
                    a(href="https://www.haus-loewenzahn.de/index.php") Kindergarten Haus Löwenzahn
                  p.card-description
                    | Mal wieder grillen? Nein, danke! Das Grill-Gelage der modernen Zeit kostet einfach zu viel Zeit und zu viele Nerven. Schokobananen: Gegrillte Banabe mit ...
                .card-footer
                  .author
                    a(href="#")
                      img.avatar.img-raised(src="/images/hami.jpg" alt="...")
                      span Ha Mi
                  .stats.ml-auto
                    i.material-icons schedule
                    |  5 min read
            .col-lg-4.col-md-6
              .card.bg-success
                .card-body
                  h5.card-category.card-category-social
                    i.far.fa-newspaper
                    |  Tech-info
                  h4.card-title
                    a(href="http://www.spiegel.de/netzwelt/gadgets/polaroid-das-sind-die-sofortbildkameras-von-heute-a-1214763.html") "Moderne Sofortbildtechnik: Polaroidkameras"
                  p.card-description
                    | Zehn Jahre nach der Insolvenz von Polaroid ist die Sofortbildfotografie erfolgreicher denn je. "Docma"-Autor Michael J. Hußmann gibt einen Überblick zum aktuellen Stand der Technik - und deren Digitalisierung.
                  .card-stats.justify-content-center
                    a.btn.btn-white.btn-round(href="http://www.spiegel.de/netzwelt/gadgets/polaroid-das-sind-die-sofortbildkameras-von-heute-a-1214763.html") Read Article
          hr
          .title
            h3.text-danger 2017
          .row
            .col-lg-12
              p ...
          hr
          .title
            h3.text-danger 2016
          .row
            .col-lg-12
              p ...
