footer.footer(data-background-color="black")
  .container
    nav.float-left
      ul
        li
          a(href="#")
            | Impressum
        li
          a(href="/datenschutz")
            | Datenschutz
        li
          a(href="#")
            | Cookie-Richtlinie

    .copyright.float-right
      | ©
      script.
        document.write(new Date().getFullYear())
      |  with 
      i.material-icons favorite
      |  by 
      a(href="#") Manh Cuong Tran
      |  for Cité-Bretonen.