extends layout

block content
  .mb-5
    .container
      .card.card-nav-tabs
        .card-header.card-header-warning
          h4.card-title
            | Präambel
        .card-body
          h4.card-title Präambel zum Gesellschaftsvertrag des Wohnprojektes Bretagne
          p.card-text Im Wohnprojekt Bretagne soll das Zusammenleben von Menschen unterschiedlichen Alters und unterschiedlicher Herkunft in einer solidarischen Gemeinschaft, die geprägt ist von Empathie und Rücksichtnahme, verwirklicht werden. Wir wollen erreichen, dass alle Bretonen durch einen herzlichen und vorurteilsfreien Umgang miteinander, ein Plus an Lebensqualität erfahren und dass gegenseitige Hilfe, wo sie benötigt wird und erwünscht ist, als selbstverständlich erachtet wird. Ältere Bretonen sollen sich in der Wohngemeinschaft geborgen und sicher fühlen, Kinder sind willkommen und sollen sich rundum wohlfühlen und Fremde sollen eine Heimat finden.
          hr
          .clearfix
          p.card-text Auch nach außen wollen wir als lebendige Solidargemeinschaft wahrgenommen werden. Die Wohnanlage Bretagne soll stehen für ein offenes und gastfreundliches Haus und die Bretonen für tolerantes, generationenübergreifendes miteinander leben und für soziale Verantwortung.
          hr
          .clearfix
          p.card-text Diese Prinzipien sollen durch Regeln für das Zusammenleben gestützt werden. In einer Hausordnung wird Konsens über die solidarische Gemeinschaft vereinbart, Toleranz anderen gegenüber festgeschrieben und individuelle Verantwortungsbereiche für eine hausinterne Verwaltung/Organisation definiert und festgeschrieben.
          hr
          .clearfix
          p.card-text Wir legen besonderen Wert auf eine kommunikative Architektur, die sich in der Transparenz des Bauwerks widerspiegeln soll. Wir freuen uns auch auf ein energieeffizientes und ökologisch geprägtes zu Hause. Dafür sind wir auch bereit moderate Wohnungsgrößen zu akzeptieren. Bereiche für zwanglose Begegnungen und hausinterne Feiern der Bretonen und für öffentliche Veranstaltungen werden als wichtiger Bestandteil zur Entwicklung eines zwanglosen miteinander eingeplant.
          hr
          .clearfix
          p.card-text Die allgemeinen Regeln des Zusammenlebens können, wo nötig, jederzeit ergänzt und neuen Erfordernissen angepasst werden.
          hr

  
  .container
    .card.card-nav-tabs
      .card-header.card-header-success
        h4.card-title
          | Baugruppe Bretagne Gemeinsam bauen - Gemeinsam leben
      .card-body
        p Vorbild für unser Bauprojekt ist das 
          a.btn.btn-primary.btn-round.btn-sm(href="http://www.via-wohnprojekt-gbr.de/") VIA - Gemeinschaftswohnprojekt 
          |  in der Cité, welches nun schon über 8 Jahre besteht.
        p Im Juli 2016 haben wir unsere Baugruppe als GbR gegründet.
        p Der Bebauungsplan wurde für unser Bauvorhaben angepasst und ist inzwischen rechtskräftig.

        button.btn.btn-info.btn-round(type="button") 
          i.material-icons done 
          |  Baugruppe bedeutet:
        .alert
          .container
            .alert-icon
              i.material-icons check
            | Sie sind nicht Käufer, sondern selbst Mit-Bauherr
        .alert
          .container
            .alert-icon
              i.material-icons check
            | Sie entscheiden über alle wesentlichen Bau - Maßnahmen mit
        .alert
          .container
            .alert-icon
              i.material-icons check
            | Wir erwerben zunächst nur das Grundstück, die Grunderwerbsteuer fällt, sofern Beitritt vor der Teilungserklärung erfolgt, auch nur hierfür an. Sie können damit hier bereits 5% der Bausumme sparen
        .alert
          .container
            .alert-icon
              i.material-icons check
            | Sie sparen 3-5% Kosten für einen Immobilienmakler
        .alert
          .container
            .alert-icon
              i.material-icons check
            | Nach Abschluss der Planungen erfolgt der Bauantrag und die Teilungserklärung
        .alert
          .container
            .alert-icon
              i.material-icons check
            | Wir schreiben alle zu vergebenden Gewerke selbst aus und ermöglichen damit günstige Baukosten

        
        footer.blockquote-footer
          | Baugruppe 
          cite(title="Cité-Bretonen") Cité-Bretonen