extends layout

block content
  .main.main-raised
    .cd-section.section.section-white
      .cards
        .container
          .title
            h2.text-warning Kontakt:
            hr
            h4 
              |Rufen Sie uns an unter 
              strong.text-danger 07223 80 11 966 
              | oder verwenden Sie das folgende E-Mail - Kontaktformular:
          .row
            .col-md-6
              .form
                .form-group
                  input.form-control(type="text" id="contactName" name="contactName" placeholder="Name(*)")
                
                .form-group
                  input.form-control(type="email" id="contactEmail" name="contactEmail" placeholder="Email(*)")

                .form-group
                  input.form-control(type="text" id="contactTel" name="contactTel" placeholder="Telefonnummer(*)")
                
                .form-group
                  textarea.form-control(placeholder="Ihre Nachrichten." rows="6")

                .form-group
                  .form-check
                    
                    label.form-check-label
                      input.form-check-input(type="checkbox" id="contactCbox1" checked)
                      | Es gilt die 
                      a(href="/datenschutz") Datenschutzerklärung
                      span.form-check-sign
                        span.check
                button.btn.btn-primary(type="submit") Absenden
            .col-md-6
              .container
                .title
                  i.material-icons location_on
                  |   Baugruppe Bretagne GbR Alfons-Deißler-Str. 18 77815 Bühl
                  br
                  i.material-icons phone
                  |   07223 80 11 966
                .row                  
                  .mapouter
                    .gmap_canvas
                      iframe#gmap_canvas(width="100%" height="350" src="https://maps.google.com/maps?q=Alfons-Dei%C3%9Fler-Str.%2018%2077815%20B%C3%BChl&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0")
                    style.
                      .mapouter{text-align:right;height:auto;width:100%;}.gmap_canvas {overflow:hidden;background:none!important;height:350px;width:auto;}






