extends layout

block content
  .main.main-raised
    .cd-section.section.section-gray
      .container
        .title
          h3 Lageplan
        hr
        .row
          .col-md-10.col-lg-8
            .card.card-blog
                .card-header.card-header-image
                  a(href="#")
                    img.img(src="/images/lp1.jpg")
                  .colored-shadow(style='background-image: url("/images/lp1.jpg"); opacity: 1;')
                .card-body
                  h6.card-category.text-info Das Grundstück befindet im Baugebiet Cité von Baden-Baden an der Ufgaustraße bzw. am Ende der Breisgaustraße