nav#sectionsNav.navbar.navbar-color-on-scroll.fixed-top.navbar-expand-lg.navbar-transparent(color-on-scroll="100")
  .container
    .navbar-translate
      a.navbar-brand(href="/")
      button.navbar-toggler(type="button" data-toggle="collapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation")
        span.sr-only Toggle Navigation
        span.navbar-toggler-icon 
        span.navbar-toggler-icon 
        span.navbar-toggler-icon  
      
    // Collect the nav links, forms, and other content for toggling
    .collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item
          a.nav-link(href="/") Home
        li.nav-item
          a.nav-link(href="#") Wir Bretonen
        li.nav-item
          a.nav-link(href="#") Unser Wohnprojekt
        li.nav-item
          a.nav-link(href="#") Kontakt
        li.nav-item
          a.nav-link(href="#") Events
        