nav#sectionsNav.navbar.navbar-color-on-scroll.fixed-top.navbar-expand-lg.navbar-transparent(color-on-scroll="100")
  .container
    .navbar-translate
      a.navbar-brand(href="/")
      button.navbar-toggler(type="button" data-toggle="collapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation")
        span.sr-only Toggle Navigation
        span.navbar-toggler-icon 
        span.navbar-toggler-icon 
        span.navbar-toggler-icon  
      
    // Collect the nav links, forms, and other content for toggling
    .collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item
          a.nav-link(href="/") Home
        li.nav-item
          a.nav-link(href="/bretonen") Wir Bretonen (Private)
        li.nav-item.dropdown
          a.dropdown-toggle.nav-link(href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
            | Unser Wohnprojekt
          .dropdown-menu
            a.dropdown-item(href="/projekt") Allgemein
            .dropdown-divider
            a.dropdown-item(href="/baubeschreibung") Baubeschreibung
            a.dropdown-item(href="/lageplan") Lageplan
            a.dropdown-item(href="/gesamtansicht") Gesamtansichten
            .dropdown-divider
            a.dropdown-item(href="/wohnungen") Die Wohnungen
          
        li.nav-item
          a.nav-link(href="/kontakt") Kontakt
        li.nav-item
          a.nav-link(href="/events") Events
        