extends layout

block content
  .main.main-raised
    .cd-section.section.section-gray
      .container
        .title
          h3 Hier werden wir bauen
          h5 auf einem sonnigen Grundstück mit  3045 m², verkehrsgünstig aber ruhig gelegen in Waldnähe
        hr
        .row
          .col-md-10.col-lg-8
            .card.card-blog
                .card-header.card-header-image
                  a(href="#")
                    img.img(src="/images/gst1.jpg")
                  .colored-shadow(style='background-image: url("/images/gst1.jpg"); opacity: 1;')
                .card-body
                  h6.card-category.text-info Blick über das Grundstück von der Ufgaustraße Richtung Süd-Ost
                  
        hr
        .row
          .col-md-10.col-lg-8
            .card.card-blog
                .card-header.card-header-image
                  a(href="#")
                    img.img(src="/images/gst2.jpg")
                  .colored-shadow(style='background-image: url("/images/gst2.jpg"); opacity: 1;')
                .card-body
                  h6.card-category.text-info Blick über das Grundstück Richtung Süd-West
        hr
        .row
          .col-md-10.col-lg-8
            .card.card-blog
                .card-header.card-header-image
                  a(href="#")
                    img.img(src="/images/gst3.jpg")
                  .colored-shadow(style='background-image: url("/images/gst3.jpg"); opacity: 1;')
                .card-body
                  h6.card-category.text-info Am 26. 3. 2018 unterzeichnen die Geschäftsführer den Grundstückskauf
        hr
        .row
          .col-md-10.col-lg-8
            .card.card-blog
                .card-header.card-header-image
                  a(href="#")
                    img.img(src="/images/gst4.jpg")
                  .colored-shadow(style='background-image: url("/images/gst4.jpg"); opacity: 1;')
                .card-body
                  h6.card-category.text-info Am 26. 4. 2018 wird der Bauantrag eingereicht
      