extends layout

block content
  .main.main-raised
    .cd-section.section.section-gray
      .cards
        .container
          .title
            h2.text-warning Die Wohnungen:
          hr
          .row
            .col-md-12
              .card.card-blog
                .card-header.card-header-image
                  a(href="#")
                    img.img(src="/images/whn1.jpg")
                    .colored-shadow(style='background-image: url("/images/whn1.jpg"); opacity: 1;')
                .card-body
                  h6.card-category.text-info Die Wohnungen:
                  p.card-description
                    | Gerne informieren wir Sie über Details der freien Wohnungen. Bitte verwenden Sie hierzu unser Kontaktformular oder wählen Sie die angegebene Telefonnummer.
